/* ----------------------- */
/* --- Universal style --- */
/* ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/* ----------------------- */
/* --- Font --- */
/* ----------------------- */
@font-face {
  font-family: Plana;
  src: url(./ASSETS/FONTS/GT-Planar-Trial-VF.ttf);
  font-weight: 100 900;
  font-style: oblique -45deg 45deg;
}
/* ----------------------- */
/* --- Body --- */
/* ----------------------- */
body {
  font-family: Plana, sans-serif;
  font-size: 4rem;
}
/* ----------------------- */
/* --- Header --- */
/* ----------------------- */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variation-settings: "wght" 130, "slnt" 0;
  text-transform: capitalize;
  letter-spacing: -9px;
  transition: all 0.3s ease;
}
h1 span {
  padding: 0 0.8rem;
}
