/* ----------------------- */
/* --- Universal style --- */
/* ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/* ----------------------- */
/* --- Font --- */
/* ----------------------- */
@font-face {
  font-family: Plana;
  src: url(./ASSETS/FONTS/GT-Planar-Trial-VF.ttf);
  font-weight: 100 900;
  font-style: oblique 0 45deg;
}
/* ----------------------- */
/* --- Body --- */
/* ----------------------- */
body {
  font-family: Plana, sans-serif;
  font-size: 4rem;
  font-variation-settings: "wght" 130;
  text-transform: capitalize;
  letter-spacing: -9px;
}
/* ----------------------- */
/* --- Header --- */
/* ----------------------- */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
